{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    <form method="post" action="{{ path('app_login') }}">
{#        {% if app.request.query.get('error') %}#}
{#            <div class="alert alert-danger">#}
{#                Invalid credentials.#}
{#            </div>#}
{#        {% endif %}#}

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="_username" value="{{ app.request.query.get('username') }}" required autofocus class="form-control" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" required class="form-control" />
        </div>

        <p>are you new here? <a href="{{ path('app_register') }}">register</a></p>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
{% endblock %}
